##############################################################
# macOS
##############################################################

.DS_Store
.AppleDouble
.LSOverride

##############################################################
# Xcode
##############################################################

## User-specific data
xcuserdata/
*.xcuserdatad/
*.xcworkspace/xcuserdata/

## Breakpoints
*.xcbkptlist

## Derived data
DerivedData/
build/

## Xcode build artifacts
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.app

## SwiftPM
.build/
Packages/
Package.resolved

## CocoaPods
Pods/

## Carthage
Carthage/Build/

##############################################################
# Archives
##############################################################

*.xcarchive

##############################################################
# Fastlane
##############################################################

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

##############################################################
# AppCode
##############################################################

.idea/

##############################################################
# Logs
##############################################################

*.log

##############################################################
# Temporary files
##############################################################

*.swp
*.tmp
